@media only screen and (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
#root{
    background: #000;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
@media only screen and (max-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
